name: docker-release
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true
        description: Version number (x.y.z) for Docker image
  push:
    tags:
      - 'v*.*.*'

jobs:
  docker-build-and-push:
    uses: './.github/workflows/build.yml'
    with:
      version: ${{ inputs.version || github.ref_name }}
      dockerPublish: true
