name: pr
on:
  pull_request:
    branches: [main, develop]
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true
jobs:
  build:
    uses: './.github/workflows/build.yml'
    with:
      dockerPublish: false
